.file-upload {
    &-fieldset {
        padding: 0.5em 1em;
        border: 2px solid #999;
        border-radius: 6px;
    }

    label {
        clear: both;
        float: left;
        width: 40%;
        text-align: right;
        margin: 0 2% 10px 0;
        color: #666;
    }

    &-drop-area {
        clear: both;
        font-weight: bold;
        text-align: center;
        padding: 30px;
        margin: 10px;
        background-color: #ddd;
        border: 3px dashed #333;
        border-radius: 5px;

        &.hover {
            color: #f00;
            border-color: #f00;
            border-style: solid;
            box-shadow: inset 0 3px 4px #888;
        }
    }
}
