@import "../../variables.scss";

.link-button {
    margin: 1.5rem auto;
    justify-self: center;
    padding: 0.5rem 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 700;
    text-transform: uppercase;
    text-align: center;
    // letter-spacing: 0.2rem;
    word-spacing: 0.2rem;
    // outline-offset: 4px;
    // outline-width: 2px;
    // outline-style: solid;
    border: none;
    transition: 0.2s all ease-in-out;
    @media only screen and (min-width: $breakMedium) {
        margin: 2rem 0;
    }

    &.regular {
        // outline-color: $mainColor;
        background-color: $mainColor;
        color: $darkColor;

        &:hover,
        &:active {
            // outline-color: $lightColor;
            background-color: $lightColor;
            color: $darkColor;
            box-shadow: 0 0 0.5rem 0.5rem $lightColorOverlay-2;
        }

        &:active {
            box-shadow: 0 0 0.5rem 0.5rem $lightColorOverlay-2;
            outline: none;
        }
    }

    &.inverted {
        // outline-color: $darkColor;
        background-color: $darkColor;
        color: $mainColor;

        &:hover,
        &:active {
            // outline-color: $lightColor;
            background-color: $lightColor;
            color: $mainColor;
        }

        &:active {
            box-shadow: 0 0 0.5rem 0.5rem $lightColorOverlay-2;
            outline: none;
        }
    }

    span,
    .icon {
        margin: 0 0.25rem;
    }
}
