$darkColor: rgb(51, 67, 80);
$darkColorOverlay-1: rgba(51, 67, 80, 0.75);
$darkColorOverlay-2: rgba(51, 67, 80, 0.5);
$darkColorOverlay-3: rgba(51, 67, 80, 0.25);
$darkColorOverlay-4: rgba(51, 67, 80, 0.05);
$mainColor: rgb(91, 177, 150);
$mainColorOverlay-1: rgba(91, 177, 150, 0.75);
$mainColorOverlay-2: rgba(91, 177, 150, 0.5);
$mainColorOverlay-3: rgba(91, 177, 150, 0.25);
$mainColorOverlay-4: rgba(91, 177, 150, 0.05);
$lightColor: rgba(230, 230, 235, 1);
$lightColorOverlay-1: rgba(230, 230, 235, 0.75);
$lightColorOverlay-2: rgba(230, 230, 235, 0.5);
$lightColorOverlay-3: rgba(230, 230, 235, 0.25);
$lightColorOverlay-4: rgba(230, 230, 235, 0.05);
$accentColor: rgb(239, 57, 112);
$accentColorOverlay-1: rgba(239, 57, 112, 0.75);
$accentColorOverlay-2: rgba(239, 57, 112, 0.5);
$accentColorOverlay-3: rgba(239, 57, 112, 0.25);
$accentColorOverlay-4: rgba(239, 57, 112, 0.05);

$breakSmall: 360px;
$breakMedium: 760px;
$breakLarge: 1200px;
$breakHuge: 1800px;
